@media only screen{
  @media (max-width: 1200px){
    body{
      padding: 0 10px;
    }
    #wrapper{
      width: 100%;
    }
  }
  @media (max-width: 768px){
    #wrapper,
    main,
    aside{
      display: block;
      width: auto;
    }
    #wrapper{
      padding: 16px 0;
    }
    main{
      padding-right: 0;
    }
    aside{
      .module{
        margin-top: 20px;
      }
    }
    div[class^="col-"]{
      float: none;
    }
    .col-6{
      width: auto;
    }
    .asset-box,
    .asset-box.tall{
      height: auto;
      padding-bottom: 0;
    }
    .asset-box{
      h1{
        padding-right: 0;
        color: $mobile-asset-heading-color;
        @include font-size-height($mobile-asset-heading-font-size, $mobile-asset-heading-line-height);
        a{
          color: inherit;
          font-size: inherit;
          line-height: inherit;
          &:hover{
            color: $module-title-hover-color;
          }
        }
      }
      &.tall{
        h1{
          @include font-size-height($mobile-asset-heading-font-size, $mobile-asset-heading-line-height);
          a{
            font-size: inherit;
            line-height: inherit;
          }
        }
        .asset-image{
          a{
            background-position: top center;
          }
        }
      }
      footer{
        display: block;
        ul{
          padding: 0 50px;
        }
      }
      header{
        min-height: auto;
        position: static;
        .button{
          top: auto;
          bottom: 30px;
        }
      }
      li{
        color: $mobile-asset-list-color;
        @include font-size-height($mobile-asset-list-font-size, $mobile-asset-list-line-height);
      }
      .button{
        &.share{
          border-color: $module-share-border-color;
          background-position: center bottom;
        }
      }
    }
    .asset-content{
      position: relative;
      background-color: transparent;
      padding: 15px 0 30px 0;
    }
    .asset-image{
      height: 0;
      padding-bottom: $asset-box-bottom-padding;
      @include position-element(relative, 0, 0, 0, 0);
    }
    .module{
      h3{
        padding: 15px 0;
      }
      h4{
        @include font-size-height($mobile-module-title-font-size, $mobile-module-title-line-height);
        a{
          font-size: inherit;
          line-height: inherit;
        }
      }
      .row{
        margin: 0;
      }
      div[class^="col-"]{
        float: left;
      }
      .col-6{
        @include divide-by-twelve(6);
      }
      .button{
        width: $button-share-size;
        height: $button-share-size;
        border: $mobile-module-button-border;
        @include position-element(absolute, auto, 25px, 0, auto);
        &.share{
          border-color: $module-share-border-color;
        }
      }
      .image-wrap{
        display: block;
      }
      footer{
        ul{
          padding: 0;
        }
        li{
            @include font-size-height($mobile-asset-list-font-size, $mobile-asset-list-line-height);
        }
        .button{
          display: none;
        }
      }
    }
  }
}
